html, body {
    height: 100%;
}

.bg-lm {
    background-color: #682a8d;
}

.logoText {
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-size: 4vh;
    margin: 0vh 0vh 0vh 1vh;
}

@media (max-height: 583px) {
    .logoText {
        font-size: 20px
    }
}

.donateButton {
    font-family: 'Raleway', sans-serif !important;
    /* font-size: 4vh; */
    margin-right: 2vh;
    border-radius: 0%;
}

.donateButton:hover {
    color: #682a8d !important;
}

#map {
    height: 89%;
    width: 100%;
}

.topBar {
    height: 6%;
    min-height: 35px;
    min-width: 230px;
}

.no-margin {
    margin: 0 ! important;
}

.popover-body {
    min-width: 276px;
}

.popupClose {
    color: gray;
}

.popupClose:hover {
    color: black;
}

a:hover {
    cursor: pointer;
}

footer {
    height: 4%;
    font-size: 2vh;
}

footer p {
    margin-bottom: 0px;
}