html, body {
    height: 100%;
}

.bg-lm {
    background-color: #682a8d;
}

.font-lm {
    font-family: 'Raleway', sans-serif;
    font-size: 6vh;
    margin: 0;
}

.logoText {
    display: inline;
}

.logoBox {
    background-color: white;
    height: 8vh;
    width: 8vh;
}

.logo {
    height: 7vh;
    margin: 0.5vh;

}

.donateButton {
    font-family: 'Raleway', sans-serif !important;
    /* font-size: 4vh; */
    margin-right: 2vh;
    border-radius: 0%;
    /* height: 6vh; */
}

.donateButton:hover {
    color: #682a8d !important;
}

#map {
    height: 72vh;
    width: 100%;
}

.topBar {
    height: 8vh;
}

.no-margin {
    margin: 0 ! important;
}

.popover-body {
    min-width: 276px;
}

.popupClose {
    color: gray;
}

.popupClose:hover {
    color: black;
}

a:hover {
    cursor: pointer;
}